body {
	background: rgb(104,187,285);
}

#left-box {
	float: left;
	background: rgb(9,30,45);
	border-radius: 5px;
	color: #FFF;
	border-color:red;
	height: 700px;
	width: 550px;
}

#right-box {
	margin-left: 600px;
}

#photoIdentite {
	padding: 10px;
	width: 30%;
	border-color:red;
}

li {
	margin-left: 25px;
}

h2 {
	padding: 20px;
	margin:15px !important;
	font-size: 2.56rem !important;
	text-align: center !important;
}

h3 {
	margin:15px !important;
	text-align: center !important;
	font-size: 1.92rem !important;
}

p {
	margin:15px !important;
	text-align: justify !important;
}

#experiences-box {
	border-radius: 5px;
	background: #FFF;
	border-color:red;
}

.experience {
	padding: 5 30 5 30;
}

#studies-box {
	border-radius: 5px;
	background: #FFF;
}

#footer {
	background: grey;
	border-radius: 5px;
	height: 50px;
	font-weight: bold;
}

#footer > p {
	text-align: center !important;
}